body {  background-color: #3A5896;  }
img {  margin-left: 220px;  }
#head, #description {
    color: white;
    font-family: sans-serif;
    left: 370px;
}
#head  {
    font-size: 280%;
    font-weight: bold;
    position: absolute;
    top: 150px;
}
#description {
    font-size: 130%;
    font-weight: bold;
    position: absolute;
    top: 210px;
}
#notimportant {
    padding: 10px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 5px;
    height: 240px;
    width: 370px;
    position: absolute;
    top: 280px;
    left: 10px;
}
input {
    margin: 5px;
    height: 25px;
    border-radius: 5px;
}
#date {
    width: 270px;
}
#clear, #submit {
    height: 55px;
    width: 400px;
    background-color: lightgray;
    color: #3A5896;
    border-radius: 10px;
    position: absolute;
    top: 570px;
    left: 15px;
    font-size: 130%;
}
.text {
    font-family: sans-serif;
    color: white;
    margin-left: 5px;
}
label {
    padding-left: 5px;
    color: white;
    font-family: sans-serif;
    font-size: 80%;
}
label span {  padding-left: 10px;  }
#bordertext1 {
    background-color: #3A5896;
    position: absolute;
    top: 277px;
    left: 105px;
    z-index: 2;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 90%;

}
#important {
    padding: 10px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 5px;
    height: 240px;
    width: 560px;
    position: absolute;
    top: 280px;
    left: 450px;
}
select {  color: gray;  }
#important select, .mini {
    margin: 5px;
    height: 25px;
    width: 170px;
    border-radius: 5px;
}
.mini {  width: 85px;  }
#color {  width: 170px;  }
textarea {
    height: 70px;
    width: 550px;
    border-radius: 5px;
}
#submit {
    width: 590px;
    left: 450px;
}